Web Service/BebelBaby/BebelBaby.API/Service References/wcfGeradorLigacao/WSControlPC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pcservice.com.br/controlpc" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.pcservice.com.br/controlpc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pcservice.com.br/controlpc">
      <s:element name="GerarLigacaoMCare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="medicao" type="tns:MedicaoMCare" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MedicaoMCare">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DDI_Telefone_Medico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDD_Telefone_Medico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone_Medico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDI_Telefone_Paciente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDD_Telefone_Paciente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone_Paciente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome_Paciente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Data_Medicao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo_Medicao" type="tns:Tipo_Medicao" />
          <s:element minOccurs="1" maxOccurs="1" name="Val1" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Val2" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Val3" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Tipo_Medicao">
        <s:restriction base="s:string">
          <s:enumeration value="TEMPERATURA" />
          <s:enumeration value="PESO" />
          <s:enumeration value="OXIGENACAO" />
          <s:enumeration value="GLICOSE" />
          <s:enumeration value="PRESSAO" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GerarLigacaoMCareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GerarLigacaoMCareResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonalAuthentication" type="tns:PersonalAuthentication" />
      <s:complexType name="PersonalAuthentication">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo_Asterisk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login_Rede" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Aplicacao_Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Aplicacao_Versao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GerarLigacaoMCareSoapIn">
    <wsdl:part name="parameters" element="tns:GerarLigacaoMCare" />
  </wsdl:message>
  <wsdl:message name="GerarLigacaoMCareSoapOut">
    <wsdl:part name="parameters" element="tns:GerarLigacaoMCareResponse" />
  </wsdl:message>
  <wsdl:message name="GerarLigacaoMCarePersonalAuthentication">
    <wsdl:part name="PersonalAuthentication" element="tns:PersonalAuthentication" />
  </wsdl:message>
  <wsdl:portType name="WSControlPCSoap">
    <wsdl:operation name="GerarLigacaoMCare">
      <wsdl:input message="tns:GerarLigacaoMCareSoapIn" />
      <wsdl:output message="tns:GerarLigacaoMCareSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSControlPCSoap" type="tns:WSControlPCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarLigacaoMCare">
      <soap:operation soapAction="http://www.pcservice.com.br/controlpc/GerarLigacaoMCare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GerarLigacaoMCarePersonalAuthentication" part="PersonalAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSControlPCSoap12" type="tns:WSControlPCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarLigacaoMCare">
      <soap12:operation soapAction="http://www.pcservice.com.br/controlpc/GerarLigacaoMCare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GerarLigacaoMCarePersonalAuthentication" part="PersonalAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSControlPC">
    <wsdl:port name="WSControlPCSoap" binding="tns:WSControlPCSoap">
      <soap:address location="https://www.pcservice.com.br/wscontrolpc_dac/WSControlPC.asmx" />
    </wsdl:port>
    <wsdl:port name="WSControlPCSoap12" binding="tns:WSControlPCSoap12">
      <soap12:address location="https://www.pcservice.com.br/wscontrolpc_dac/WSControlPC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>